.add-button {
  margin: 15px;
  color: #fff;
  background-color: #595997;
}

mat-form-field {
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 20px 0
}
