.custom-navbar {
  background-color: #595997;
  height: 50px;
  .brand-icon {
    color: #ffffff;
    margin-top: 7px;
  }
  .nav-items {
    margin-top: 7px;
    button {
      color: #ffffff;
      margin-right: 5px;
    }
  }
  .more-icon {
    color: #ffffff;
  }
}
